.movie-poster {

    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 250px;
    object-fit: cover;
}

.movie-container {
    min-width: 20vw;
}